{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Bookings</title>
{% endblock title %}


{% block breadcrumb_heading %}
Bookings
{% endblock breadcrumb_heading %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="#">Bookings</a>
</li>
{% endblock breadcrumb %}


{% block custom_css %}
<!-- Latest Sortable -->
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<style>
    .ghost {
        opacity: .5;
        background-color: lightblue;
    }
</style>
{% endblock custom_css %}


{% block page_content %}

<div class="row mb-4">
    <div class="col-lg col-md">
        <a class="btn btn-rounded btn-outline-success float-right mx-2" href="{% url 'add_booking' %}">
            <i class="mdi mdi-account-plus"></i> Add a new Booking
        </a>

        <button data-toggle="modal" data-target="#bulk_upload_client"
            class="btn btn-rounded btn-outline-success float-right mx-2">
            <i class="mdi mdi-account-plus"></i> BULK UPLOAD
        </button>

        <!--Bulk upload client button modal content -->
        <div id="bulk_upload_client" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title font-weight-bold" id="vcenter">
                            Bulk Upload your client</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body pt-0">

                        <div class="card mb-0">
                            <div class="card-body my-0 pb-0">
                                <h4 class="card-title text-muted mt-0 pt-0">Import your File (Accepted .CSV format only)
                                </h4>
                                <form action="{#% url 'bulk_client_file_upload' %}" enctype="multipart/form-data"
                                    method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="file" name="csv_client_file" id="csv_client_file"
                                            accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                            class="form-control-file">
                                        <span class="badge badge-default badge-success form-text text-white float-left"
                                            id="download_sample_csv">Download Sample</span>
                                    </div>

                                    <div class="modal-footer mt-4">
                                        <button type="button" class="btn btn-warning waves-effect float-left"
                                            data-dismiss="modal">Cancel</button>
                                        <button type="submit"
                                            class="btn btn-success waves-effect float-right">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Row -->
<!-- <div class="row">

    {% for item in bookings %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-inverse py-2 px-4 rounded">
            <div class="d-flex flex-row">
                <div class="text-white text-center ">
                    <h3 class="mb-0">{{item.main_guest.name}}</h3>
                    <p>{{item.booking.unit.unit_name}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div> -->






<div class="row">
    <div class="col w-100">
        <div class="card overflow-auto">
            <div class="card-body">
                <div class="row flex-nowrap">

                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <h5 class="card-header text-center">Lead</h5>
                            <div class="card-body rounded px-0" id="stage_1">

                                {% for item in columnOrder.stage_1 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mx-1" style="width: 15rem;">
                            <h5 class="card-header text-center">Confirmed</h5>
                            <div class="card-body" id="stage_2">

                                {% for item in columnOrder.stage_2 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mx-1" style="width: 15rem;">
                            <h5 class="card-header text-center">Welcome Mail Sent</h5>
                            <div class="card-body" id="stage_3">

                                {% for item in columnOrder.stage_3 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mx-1" style="width: 15rem;">
                            <h5 class="card-header text-center">Document Completed</h5>
                            <div class="card-body" id="stage_4">

                                {% for item in columnOrder.stage_4 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mx-1" style="width: 15rem;">
                            <h5 class="card-header text-center">Security Email</h5>
                            <div class="card-body" id="stage_5">

                                {% for item in columnOrder.stage_5 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mx-1" style="width: 15rem;">
                            <h5 class="card-header text-center">Checked In</h5>
                            <div class="card-body" id="stage_6">


                                {% for item in columnOrder.stage_6 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mx-1" style="width: 15rem;">
                            <h5 class="card-header text-center">Checked Out</h5>
                            <div class="card-body" id="stage_7">


                                {% for item in columnOrder.stage_7 %}
                                <div class="card bg-inverse rounded" id="{{item.booking.id}}">
                                    <div class="card-body w-100 text-center">
                                        <a href="{% url 'booking_details' item.booking.id %}">
                                            <h3 class="mb-0 text-white">{{item.main_guest.name}}</h3>
                                        </a>
                                        <p class="text-white mb-0">{{item.booking.unit.unit_name}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}

{% block custom_js %}
<script>
    //Sending get request with id to upload resume 
    var sortebleId1 = document.getElementById('stage_1');
    var sortebleId2 = document.getElementById('stage_2');
    var sortebleId3 = document.getElementById('stage_3');
    var sortebleId4 = document.getElementById('stage_4');
    var sortebleId5 = document.getElementById('stage_5');
    var sortebleId6 = document.getElementById('stage_6');
    var sortebleId7 = document.getElementById('stage_7');

    const arrElemId = [sortebleId1, sortebleId2, sortebleId3, sortebleId4, sortebleId5, sortebleId6, sortebleId7];

    function generateStrVal(childObj) {
        var strVal = '';
        var arr = [];
        for (var i = 0; i < childObj.length; i++) {
            arr.push(childObj[i].id);
        }
        return arr.join(',');
    }


    for (let i = 0; i < 7; i++) {
        Sortable.create(arrElemId[i], {
            group: 'shared',
            ghostClass: 'ghost',
            animation: 150,

            // Element dragging ended
            onEnd: function (event) {
                var itemElem = event.item;
                // dragged HTMLElement
                // console.log("target list: ", event.to.id);    // target list
                // console.log("previous list: ", event.from.id);  // previous list
                // console.log("element's old index within old parent: ", event.oldIndex);  // element's old index within old parent
                // console.log("element's new index within new parent: ", event.newIndex);  // element's new index within new parent
                // console.log("event.oldDraggableIndex: ", event.oldDraggableIndex); // element's old index within old parent, only counting draggable elements
                // console.log("event.newDraggableIndex: ", event.newDraggableIndex); // element's new index within new parent, only counting draggable elements


                var prevStatus = event.from.id;
                var updatedStatus = event.to.id;
                var bookingId = event.item.id;
                // console.log(`prevStatus: `, prevStatus);
                // console.log(`updatedStatus: `, updatedStatus);
                // console.log(`bookingId: `, bookingId);

                var strObj = {
                    "movedFrom": generateStrVal(event.from.children),
                    "movedTo": generateStrVal(event.to.children),
                };
                // console.log('strObj: ', strObj);

                const url = '/update_booking_status/';

                fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'aplication/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        "bookingId": bookingId,
                        "prevStatus": prevStatus,
                        "updatedStatus": updatedStatus,
                        "strObj": strObj,
                    }),
                }).then(response => {
                    // console.log('Response: ', Response);
                    return response.json();
                }).then(data => {
                    // console.log('data: ', data);
                });
            },
        });
    }
</script>
{% endblock custom_js %}