{% extends 'base.html'%}
{% load static %}

{% block title %}<title> Holiday Homes | Password Reset </title>{% endblock title %}


{% block content %}

<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url({% static 'assets/images/big/auth-bg.jpg' %}) no-repeat center center;">
    <div class="auth-box">

        <div>
            <div class="logo">
                <span class="db">
                    <img src="{% static 'assets/images/logos/logo-icon.png' %}" alt="logo" />
                </span>
                <h5 class="font-medium mb-3">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row mt-3">

                <form class="col-12" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" name="email" autocomplete="email"
                                maxlength="254" required="" id="id_email" placeholder="Email">
                            <!-- {{form}} -->
                            <!-- <input class="form-control form-control-lg" type="email" required="" placeholder="Email"> -->
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger" type="submit"
                                name="Send email">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}