{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Client</title>
{% endblock title %}


{% block breadcrumb_heading %}
Add Client
{% endblock breadcrumb_heading %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="#">Add Client</a>
</li>
{% endblock breadcrumb %}


{% block page_content %}

<div class="row mb-4">
    <div class="col">
        <button data-toggle="modal" data-target="#bulk_upload_client"
            class="btn btn-rounded btn-outline-success float-right mx-2">
            <i class="mdi mdi-file"></i> BULK UPLOAD
        </button>
    </div>

    <!--Bulk upload client button modal content -->
    <div id="bulk_upload_client" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title font-weight-bold" id="vcenter">
                        Bulk Upload your client</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body pt-0">

                    <div class="card mb-0">
                        <div class="card-body my-0 pb-0">
                            <h4 class="card-title text-muted mt-0 pt-0">Import your File (Accepted .CSV format only)
                            </h4>
                            <form action="{#% url 'bulk_client_file_upload' %}" enctype="multipart/form-data"
                                method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="file" name="csv_client_file" id="csv_client_file"
                                        accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                        class="form-control-file">
                                    <span class="badge badge-default badge-success form-text text-white float-left"
                                        id="download_sample_csv">Download Sample</span>
                                </div>

                                <div class="modal-footer mt-4">
                                    <button type="button" class="btn btn-warning waves-effect float-left"
                                        data-dismiss="modal">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-success waves-effect float-right">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.modal content -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="mb-0 text-white">Add a New Landlord</h4>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title mb-0">Landlord Info</h4>
                </div>

                <div class="form-body">
                    <div class="card-body bg-light">
                        <div class="row pt-3 m-2">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_name">Landlord Name</label>
                                    {{form.name}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_email">Email</label>
                                    {{form.email}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_phone">Phone</label>
                                    {{form.phone}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_local_address">Local Address</label>
                                    {{form.local_address}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_local_city">Local City</label>
                                    {{form.local_city}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_local_country">Local Country</label>
                                    {{form.local_country}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_native_address">Native Address</label>
                                    {{form.native_address}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_native_city">Native City</label>
                                    {{form.native_city}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_native_country">Native Country</label>
                                    {{form.native_country}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_bank_name">Bank Name</label>
                                    {{form.bank_name}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_branch_name">Branch Name</label>
                                    {{form.branch_name}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_bank_account_details">Bank Account
                                        Details</label>
                                    {{form.bank_account_details}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="id_ifsc_code">Bank IFSC Code</label>
                                    {{form.ifsc_code}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-actions">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success mx-4 mb-4 float-right">
                            <i class="fa fa-check"></i> SAVE
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('id_name').classList.add('form-control');
    document.getElementById('id_email').classList.add('form-control');
    document.getElementById('id_phone').classList.add('form-control');
    document.getElementById('id_local_address').classList.add('form-control');
    document.getElementById('id_local_city').classList.add('form-control');
    document.getElementById('id_local_country').classList.add('form-control');
    document.getElementById('id_native_address').classList.add('form-control');
    document.getElementById('id_native_city').classList.add('form-control');
    document.getElementById('id_native_country').classList.add('form-control');
    document.getElementById('id_bank_name').classList.add('form-control');
    document.getElementById('id_branch_name').classList.add('form-control');
    document.getElementById('id_bank_account_details').classList.add('form-control');
    document.getElementById('id_ifsc_code').classList.add('form-control');

</script>

{% endblock page_content %}