{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Task Details</title>
{% endblock title %}


{% block breadcrumb_heading %}
Booking
{% endblock breadcrumb_heading %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/tasks/">Task Details</a>
</li>
{% endblock breadcrumb %}

{% block page_content %}



<div class="row mt-5">
    <div class="col-md-12 col-lg-10 col-xlg-8 mx-auto">
        <div class="card">
            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="pills-task_details-tab" data-toggle="pill" href="#task_details-tab"
                        role="tab" aria-controls="pills-task_details" aria-selected="false">
                        <i class="mdi mdi-account-card-details"></i>
                        <span>Task Details</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link " id="pills-task_manager-tab" data-toggle="pill" href="#task_manager-tab"
                        role="tab" aria-controls="pills-task_manager" aria-selected="true">
                        <i class="mdi mdi-account-multiple"></i>
                        <span>Task Manager</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-booking_notes-tab" data-toggle="pill" href="#booking_notes-tab"
                        role="tab" aria-controls="pills-booking_notes" aria-selected="false">
                        <i class="mdi mdi-note-text"></i>
                        <span> Notes </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" id="pills-booking_task-tab" data-toggle="pill" href="#candidate_task-tab"
                        role="tab" aria-controls="pills-candidate_task" aria-selected="false">
                        <i class="fas fa-tasks"></i>
                        <span> Task </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-task_details_log-tab" data-toggle="pill" href="#task_details_log-tab"
                        role="tab" aria-controls="pills-task_details_log" aria-selected="false">
                        <i class="mdi mdi-account-card-details"></i>
                        <span>Log</span>
                    </a>
                </li>
            </ul>
            <!-- Tabs -->
            <div class="tab-content" id="pills-tabContent">

                <!-- task Profile Tab -->
                {% include 'tasks/task_comp/details_tab.html' %}

                <!-- Booking Guests Tab -->
                {% include 'tasks/task_comp/task_manager.html' %}

                <!-- Booking Notes Tab -->
                <!-- {#% include 'tasks/task_comp/notes_tab.html' %} -->


            </div>
        </div>
    </div>
</div>
{% endblock page_content %}